
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Avenir', sans-serif;
}

img {
	max-width: 100%;
	height: auto;
}


.section {
	display: flex;
	flex-direction: column;

	padding: 1em;
}



/* typography
=============== */

h1 {
	font-weight: 300;
	font-size: 2.55rem;
	margin-top: 1;
}

.title {
	font-size: 2.5em;
}

@media (min-width: 55rem) {
	.container {
		font-size: 1rem;
	}
}

.button {
	display: inline-block;
	font-size: 1em;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	padding: .5em 1em;
}

.button-accent {
	color: #110382;
	border-color: #ffffff;
}

.button-accent:hover,
.button-accent:focus {
	background: #ffffff;
	color: #ffffff;
}

.welcoming {
	font-size: 3em;
	font: ;
	text-transform: uppercase;
	text-decoration: none;
}

.home-kc-description {
	font-weight: 200;
	font-size: 1em;
}


/* header
=============== */
.header {
	display: flex;					
	flex-direction: column;

	padding: 1em;
	padding-top: 4em;
}

.main-logo {
	display: flex;
	justify-content: center;

	font-size: 3em;
	font-weight: 900;
	letter-spacing: .25em;
	text-decoration: none;
	text-transform: uppercase;
	color: #424242;
}

.site-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: 1em;
}

.site-nav li{
	display: inline-block;
}

.site-nav a {
	padding: 0 1.5em;

	list-style: none;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	color: #424242;
}

.site-nav a:hover {
	color: #8B0000;
}


/* intro
=============== */

.intro {
	display: flex;
	flex-direction: row;
	justify-content: center;

	padding: 3em 0;
	text-align: left;
	color: #424242;
	background-size: cover;
	background-position: center;
	line-height: auto;
}

.intro-photo {
	padding-right: 1em;
}

.intro-bio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1em;
	width: 40%;
}

.intro-bio h1 {
	font-weight: 600;
	font-size: 2em;
	color: #424242;
}

/* home-kc
=============== */

.home-kc-description {
	background-color: #CCECF8; 
	padding: 5em;
	outline: 2px solid #000000;
	outline-offset: -2em;
}

.home-kc-description h1 {
	color: #424242;
	font-size: 2em;
	padding: .3em;
}

.home-kc-description p {
	color: #000000;
	font-size: 1.2em;
}

@media (min-width: 25rem) {
	h1 {
		font-size: 2rem;
	}

	.home-kc-description h1 {
		top: .5em;
		padding: 0 .5em; 
	}
}



}
@media (min-width: 60rem) {
	h1 {
		font-size: 2.5rem;
	}

	.home-kc-description h1 {
		top: .3em;
		padding: 0 .5em; 
	}

	.home-kc {
		background-image: 
		url(../img/main-kc.png);
	}

	.home-kc-description {
		width: 40%;
		margin-left: -2.5%
	}

}


/* portfolio
=============== */
.portfolio {
	display: flex;
	flex-direction: column;
}

.portfolio h1 {
	display: flex;
	justify-content: center;
}

.portfolio-grid {
	display: flex;
}

.portfolio-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.portfolio-item img {
	width: 200px;
	height: 200px;
}

.portfolio-item h1 {
	font-size: 1rem;
}